<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <nav class="header">
    <ul>
      <li><a href="/">MyHours</a></li>
    </ul>
  </nav>
